{% extends 'base.html' %} {% block title %}Lista de Usuarios{% endblock %} 


{% block content %}
<div class="mt-4">
  <h2 class="mb-4">Lista de Usuarios</h2>
  <a href="{% url 'user_create' %}" role="button" class="btn btn-primary mb-4">Crear usuario</a>

  <div class="table text-start">
    <table class="table table-hover table-bordered align-middle">
      <thead class="">
        <tr class="text-center">
          <th>ID</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Género</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr class="text-center">
          <td>{{ user.id }}</td>
          <td>
            {% if user.image %}
            <img
              src="{{ user.image }}"
              alt="Foto de {{ user.first_name }}"
              class="rounded-circle"
              style="width: 50px; height: 50px; object-fit: cover"
            />
            {% else %}
            <span class="text-muted">N/A</span>
            {% endif %}
          </td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            {% if user.gender == 'male' %} Hombre {% else %} Mujer {% endif %}
          </td>
          <td>
            <a href="{% url 'user_detail' user.id  %}" class="btn btn-info" role="button"
              >Ir</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
